

    <ul class="nav flex-column">
        <li class="nav-item style-menucat" style="font-size:22px">
            <a class="nav-link" href="@Url.Action("Xemthem3","Home")">Compact Keyboard</a>
            <br />
        </li>
        <li class="nav-item style-menucat" style="font-size:22px">
            <a class="nav-link" href="@Url.Action("Xemthem5","Home")">Custom Keyboard</a>
            <br />
        </li>
        <li class="nav-item style-menucat" style="font-size:22px">
            <a class="nav-link" href="@Url.Action("Xemthem1","Home")">Fullsize Keyboard</a>
            <br />
        </li>
        <li class="nav-item style-menucat" style="font-size:22px">
            <a class="nav-link" href="@Url.Action("Xemthem4","Home")">Numpad</a>
            <br />
        </li>
        <li class="nav-item style-menucat" style="font-size:22px">
            <a class="nav-link" href="@Url.Action("Xemthem2","Home")">Tkl Keyboard</a>
            <br />
        </li>
    </ul>

<ul class="nav flex-column">
    <li class="nav-item dropdown style-menucat">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Phụ Kiện</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Keycaps</a>
            <a class="dropdown-item" href="#">Key Fuller</a>
            <a class="dropdown-item" href="#">Cáp kết nối</a>
            <a class="dropdown-item" href="#">Kê Tay</a>
            <a class="dropdown-item" href="#">Túi Bảo Vệ/Chống Sốc</a>
            <a class="dropdown-item" href="#">Phụ Kiện Khác</a>
        </div>
    </li>
</ul>