@model DOAN.Models.SANPHAM

@{
    ViewBag.Title = "Xoasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xoasp</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SANPHAM</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SOPHIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SOPHIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NAMSX)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAMSX)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MAHA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAHA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MANPP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANPP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BAOHANH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BAOHANH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PHUKIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PHUKIEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MANC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MANC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ANHBIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ANHBIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TENPHIM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TENPHIM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NGAYCAPNHAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NGAYCAPNHAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GIA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GIA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SWITCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SWITCH)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
